/*bozza ancora molto in corsa d'opera*/

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #000000;
    background-color: #edecec;
    /*width:70em;
    margin:0 auto;*/
    position: relative;
    /*eventualmente aggiungere width, margin, position*/
}


/*fromattazione di font e vari*/
h1
{
    font-family: 'Outfit', sans-serif;
    font-size: 5.0em;
    text-transform: capitalize;
}

h2
{
    font-family: 'Outfit', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}

p.description
{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 25px;
}

p.info
{
    font-family: 'Outfit', sans-serif;
    line-height: 30px;
}


/*formattazione dell'header*/
header
{
    background: #E78C39;
    height: 3.6em;
}

ul, li
{
    list-style: none;
}

a.button
{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    /*margin: 5px 2px;*/
}

a.buttondx
{
    font-size: 1.5em;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}

input
{
    border-style: hidden;
    border-radius:50px;
    padding: 10px 20px 10px 20px;
}

li:hover a.button
{
    color: #797575;
}

ul.filtri, li.searchbar
{
    float: left;
}

ul.itemlist
{
    float: right;
}

li.searchbar
{
    padding: 16px 0 16px 20px;
}

ul.filtri
{
    padding: 18px 6px 16px 12px;
}

/*per fare i bottoni come su figma separa itemlist in due ul e sistema il padding di entrambi*/
ul.itemlist
{
    padding: 18px 20px 16px 0;
}


ul.filtri li, ul.itemlist li
{
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    display: inline-block;
    border-radius:50px;
    padding: 4px 20px 4px 20px;
}

nav ul.filtri li:hover, nav ul.itemlist li:hover
{
    text-decoration:none;
    background-color: #ffffff;
}


/*formattazione del main*/
main
{
    width: 71em;
    margin: auto;
}

/*formattazione dei banner*/
#box_banner
{
    width: 72em;
    height: 30em;
    background-image: linear-gradient(to bottom, #F4E7DB 0%, #bbb9b7 100%);;
    text-align: center;
    margin: 70px auto;
}

#banner
{
    background: transparent no-repeat;
    height: 30em;
    max-width: 72em;
}

#box_imm2
{
    width: 36em;
    height: 30em;
    background-image: linear-gradient(to bottom, #F4E7DB 0%, #bbb9b7 100%);;
    text-align: center;
    margin: 50px 0 0 0;
}

#imm2
{
    background: transparent no-repeat;
    height: 30em;
    max-width:36em;
}
/*fine formattazione del banner*/

#segnala
{
    text-decoration: none;
    font-weight: 600;
    color: #3147BB;
    margin: 0 242px 0 239px; /*forse con l'aside cambia*/
}


/*formattazione del footer*/
footer
{
    width: 100%;
    background: #E78C39;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    height: 8em;
}

footer a
{
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
}

footer a:hover
{
    opacity: 1;
}

ul.prima_colonna, ul.seconda_colonna, ul.terza_colonna
{
    display: inline-block;
    margin-top: 1.6em;
    margin-left: 13em;
}

nav.footer-nav li
{
    margin-bottom:0.8em;
}